{% render 'partials/head.liquid' %}


  <main class="profile-card">
           
      
              
              <section class="left">
                <h1>FDND Kaart</h1>
                <img src="assets/Squad1J-Jadon.JPG" alt="">
              </section>

              <section class="bio">
                <h2>Naam:</h2>
                <p class="info">{{ person.name  }}</p>
                <p>Bijnaam:</p>
                <p class="info">{{ person.nickname }}</p>
                <p>Geboortedatum:</p>
                <p class="info">{{ person.birthdate| date: '%d-%m-%Y' }}</p> 
                <p>GitHub Handle:</p>
                <p class="info">{{ person.github_handle }}</p>  
              </section>
              
              <section class="eigen-velden">
                <h3>Bio</h3>
                <p>Hobby:</p>
                <p class="info">{{ person.custom.hobby }}</p> 
                <img src="public/assets/Squad1J-Jadon.JPG" alt="">
              <details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>
            </section>
      
         
  </main>      

{% render 'partials/foot.liquid' %}
